The following rankings are based on the number of :+1: reactions on each issue.

## Top Enhancements
{{range .EnhancementIssues}}1. {{.HTMLURL}} ({{.Reactions.PlusOne}})
{{end}}

## Top Bugs

{{range .BugIssues}}1. {{.HTMLURL}} ({{.Reactions.PlusOne}})
{{end}}
